<%= form_for @order do |f| %>
  <p>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :product %>
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.submit 'Update order' %>
  </p>
<% end %>